* {
    margin: 0;
    padding: 0;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    box-sizing: border-box;
}

.services-section {
    background: #f8f9fa;
    background-size: cover;
    padding: 60px 0;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px 5px;
    overflow: hidden;
}

.section-title {
    padding: 0 0 0 65px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.service-user {
    width: fit-content;
    height: 34px;
    float: right;
    margin: 0 20px;
}

.service-username {
    line-height: 34px;
    width: fit-content;
    float: left;
    font-weight: bold;
}

.service-head {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
}

.border {
    width: 100%;
    height: 2px;
    background: dodgerblue;
    margin: 40px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    width: 100%;
    height: 200px;
    padding: 20px;
    /*color: #ddd;*/
    cursor: pointer;
}

.service-box:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
}

.service-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid dodgerblue;
    color: dodgerblue;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i {
    line-height: 100px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.icon-title {
    text-align: center;
    width: 200px;
    height: 200px;
    float: left;
}

.service-box:hover .service-icon {
    background: dodgerblue;
    color: #ddd;
}

.service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc {
    padding: 25px 50px 0 50px;
    font-size: 18px;
    width: 80%;
    float: left;
}

[v-cloak] {
    display: none;
}

.ivu-head {
    font-size: 12px;
    cursor: pointer;
}

.ivu-head > img {
    width: 60px;
}

.bug-div {
}

.card-surround-gray {
    background: #eee;
    padding: 5px
}

body {
    background: #f6f6f6;
}

a {
    color: #515a6e;
}

h3:hover {
    color: #2d8cf0;
    cursor: pointer;
}

.time {
    font-size: 14px;
    font-weight: bold;
}

.content {
    padding-left: 5px;
}

.ivu-badge-count {
    top: 0;
}

.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
}

.layout-nav {
    width: 420px;
    margin: 0 auto;
    margin-right: 20px;
}

.layout-right {
    float: right;
}

.font-light {
    color: rgba(255, 255, 255, .7);
}

.box-left {
    margin: 10px auto auto 10px;
    float: left;
    width: 350px;
}

.footer {
    text-align: center;
    background: #fff;
    width: 100%;
    height: 180px;
    position: fixed;
    z-index: 10;
    padding: 45px 0 45px 0;
    bottom: 0;
}

.footer > a {
    color: #000;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -180px;
}

.ivu-divider-inner-text {
    font-weight: bold;
}

.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
}