<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员-Wecoding:便捷的校内信息交流网站</title>
    <script src="../static/js/vue.js" th:src="@{js/vue.js}"></script>
</head>
<body>
<div id="admin-rabbit">
    <h2>发送全局订阅</h2>
    <label for="msgType">类型</label>
    <input id="msgType" type="text" v-model="msgType"/>
    <label for="head">标题</label>
    <input id="head" type="text" v-model="head"/>
    <label for="content">正文</label>
    <input id="content" type="text" v-model="content">
    <label for="sender">发送者</label>
    <input id="sender" type="text" v-model="sender">
    <input type="button" @click="sendMessageToAllUser" value="发送"/>
</div>

<script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script>
    var rabbit = new Vue({
        el: '#admin-rabbit',
        data: {
            msgType: '',
            head: '',
            content: '',
            sender: ''
        },
        methods: {
            sendMessageToAllUser() {
                $.ajax({
                    url: '/mymsg',
                    data: {
                        msgType: this.msgType,
                        msgHead: this.head,
                        msgContent: this.content,
                        msgSender: this.sender,
                        msgTime: (new Date()).getTime()
                    },
                    type: 'post',
                    success(data_person) {
                        // rabbit.$Message.success('已发送订阅');
                        console.log('success')
                    },
                    error(error) {
                        // rabbit.$Message.error('发送失败!');
                        console.log(error)
                    }
                })
            }
        }
    })
</script>
</body>
</html>