    <!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>个人中心-Wecoding:便捷的校内信息交流网站</title>
    <link href="../static/css/personal.css" th:href="@{css/personal.css}" rel="stylesheet">
    <script src="../dist/bundle.js"></script>
    <link href="https://cdn.bootcss.com/iview/3.4.2/styles/iview.css" rel="stylesheet">

</head>
<body>
<div class="navbar-persion">
    <div class="navbar-div">
        <ul class="ul-person">
            <li><a th:href="@{/index}">首页</a></li>
        </ul>
        <ul class="ul-person ul-right">
            <li>
                <a id="nav-me" class="down-arrow" sec:authentication="name"></a>
                <div class="mylist box-shadow">
                    <div><a>修改信息</a></div>
                    <div><a th:href="@{/logout}">退出登录</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="boxes"  id="personal">
    <div class="left-box">
        <div class="active left-tags box-shadow">
            个人资料
        </div>
        <div class="t2 left-tags box-shadow">
            去逛逛
        </div>
    </div>
    <div class="bigBlock box-shadow" v-cloak>
        <h2>
            个人资料
        </h2>
        <div class="info-left">
            <div class="info-left-head">
                <img class="img150" :src="'http://39.106.85.24:9000/wecoding/M00/00/00/' + person.stuBigImg">
                <div class="demo-upload-list-cover" title="查看大图" @click="handleView()">
                    <icon type="ios-eye-outline" size="50"></icon>
                </div>
                <Modal footer-hide title="查看大图" v-model="visible">
                    <img :src="'http://39.106.85.24:9000/wecoding/M00/00/00/' + person.stuBigImg" v-if="visible" style="width: 100%">
                </Modal>
            </div>
        </div>
        <div>
            <div class="info-right">
                <div class="personal-id">ID：<span v-text="person.stuId"></span></div>
                <div class="personal-username">用户名：<span v-text="person.stuUsername"></span></div>
            </div>
            <div class="psn-underbox">
                <div>性别：<span v-text="person.stuGender"></span></div>
                <div>姓名：<span v-text="person.stuName"></span></div>
                <div>邮箱：<span v-text="person.stuEmail"></span></div>
                <div>电话：<span v-text="person.stuPhone"></span></div>
                <div>籍贯：<span v-text="person.stuArea"></span></div>
                <div>生日：<span v-text="person.stuBirthday"></span></div>
                <div>注册日期：<span v-text="person.stuRegistTime"></span></div>
                <div class="personal-intro">简介：<span v-text="person.stuInfo"></span></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>