<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源分享-Wecoding:便捷的校内信息交流网站</title>
    <link href="../static/css/iview.css" th:href="@{css/iview.css}" rel="stylesheet">
    <link href="../static/css/all.css" th:href="@{css/all.css}" rel="stylesheet"/>
    <link href="../static/css/guide.css" th:href="@{css/guide.css}" rel="stylesheet"/>
    <link href="//at.alicdn.com/t/font_1298080_miz4ew750vg.css" rel="stylesheet"/>
</head>
<body>
<div id="res-all">
    <div class="wrapper-header card-shadow" style="margin-bottom: 20px">
        <ul class="ivu-menu ivu-menu-light ivu-menu-horizontal">
            <div class="wrapper-header-nav">
                <div class="wrapper-header-nav-list" style="float: right; padding: 0 65px">
                    <a href="/" class="wecoding-logo">
                        <Icon custom="iconfont icon-WE" size="32"></Icon>coding</a>
                    <a href="/home" target="_self" class="ivu-menu-item">返回首页</a>
                    <a href="/guide" target="_self" class="ivu-menu-item ivu-menu-item-selected">校园指南</a>
                    <a href="/resources" target="_self" class="ivu-menu-item ivu-menu-item-active">
                        资源分享
                        <span class="ivu-badge-status ivu-badge"></span>
                        <sup class="ivu-badge-dot" style="margin: 20px 20px"></sup>
                    </a>
                </div>
            </div>
        </ul>
    </div>
    <template>
        <Row>
            <i-col>
                <div class="ivu-col ivu-col-span-4 card-shadow">
                    <div>
                        <ul class="ivu-menu ivu-menu-light ivu-menu-vertical" style="width: auto;">
                            <i-menu width="310" @on-select="getRes">
                                <div class="catalogue">软件工程</div>
                                <Menu-Group title="编程语言">
                                    <Menu-Item name="Java">
                                        <Icon custom="iconfont icon-java" size="20"></Icon>
                                        Java / Kotlin
                                    </Menu-Item>
                                    <Menu-Item name="Python">
                                        <Icon type="logo-python" size="20"></Icon>
                                        Python
                                    </Menu-Item>
                                    <Menu-Item name="CPP">
                                        <Icon custom="iconfont icon-cpp" size="20"></Icon>
                                        C/C++
                                    </Menu-Item>
                                    <Menu-Item name="CSharp">
                                        <Icon custom="iconfont icon-languagecsharp" size="20"></Icon>
                                        C#
                                    </Menu-Item>
                                    <Menu-Item name="Php">
                                        <Icon custom="iconfont icon-php" size="20"></Icon>
                                        Php
                                    </Menu-Item>
                                    <Menu-Item name="Go">
                                        <Icon custom="iconfont icon-php" size="20"></Icon>
                                        Go
                                    </Menu-Item>
                                    <Menu-Item name="Android">
                                        <Icon type="logo-android" size="20"></Icon>
                                        Android
                                    </Menu-Item>
                                    <Menu-Item name="Wechat">
                                        <Icon type="logo-android" size="20"></Icon>
                                        Wechat小程序
                                    </Menu-Item>
                                    <Menu-Item name="Vue">
                                        <Icon type="logo-nodejs" size="20"></Icon>
                                        Web前端
                                    </Menu-Item>
                                </Menu-Group>
                                <Menu-Group title="数据库/缓存">
                                    <Menu-Item name="SQL">
                                        <Icon custom="iconfont icon-MYSQL" size="20"></Icon>
                                        SQL: MySQL/Oracle/PostgreSQL
                                    </Menu-Item>
                                    <Menu-Item name="NoSQL">
                                        <Icon custom="iconfont icon-mongodb" size="20"></Icon>
                                        NoSQL: Redis/MongoDB/Neo4j/HBase
                                    </Menu-Item>
                                </Menu-Group>
                                <Menu-Group title="工具">
                                    <Menu-Item name="Devtools">
                                        <Icon custom="iconfont icon-icons-intellij_idea" size="20"></Icon>
                                        开发工具: IDEA/VSCode/Vim
                                    </Menu-Item>
                                    <Menu-Item name="Mantools">
                                        <Icon custom="iconfont icon-webpack" size="20"></Icon>
                                        管理工具: Maven/Gradle/Webpack/
                                    </Menu-Item>
                                    <Menu-Item name="Vertools">
                                        <Icon custom="iconfont icon-git" size="20"></Icon>
                                        版本管理: SVN/Git
                                    </Menu-Item>
                                    <Menu-Item name="Docker">
                                        <Icon custom="iconfont icon-docker" size="20"></Icon>
                                        Docker
                                    </Menu-Item>
                                </Menu-Group>
                                <div class="navigate-group catalogue">其他</div>
                            </i-menu>
                        </ul>
                    </div>
                </div>
            </i-col>
            <i-col span="20">
                <div class="card-shadow res-content-div">
                    <div>
                        <div style="font-size: 25px;font-weight: bold">学习视频/PDF
                            <Tooltip content="" placement="right-start" theme="light">
                                <Icon color="#828282" type="md-help-circle" size="25"></Icon>
                                <div slot="content">
                                    <p>一些高质量的学习视频, 欢迎下载;</p>
                                    <p>后续会开通上传资源和评分功能.</p>
                                </div>
                            </Tooltip>
                        </div>
                        <card>
                            <i-Table stripe :loading="loading" no-filtered-data-text="暂无筛选结果,换一页试试" :columns="columns"
                                     :data="useData(searchName)"></i-Table>
                        </card>
                        <div style="float: right;padding-top: 15px;">
                            <Page :total="total" :current="page" @on-change="changePage" show-elevator
                                  show-total></Page>
                        </div>
                    </div>
                </div>
                <div class="card-shadow res-content-div sencond-div-position">
                    <div>
                        <div style="font-size: 25px;font-weight: bold">在线资料
                            <Tooltip placement="right-start" theme="light">
                                <Icon color="#828282" type="md-help-circle" size="25"></Icon>
                                <div slot="content">
                                    <p>本人在学习过程中受益匪浅的学习网站</p>
                                    <p>后续会加入用户推荐功能</p>
                                </div>
                            </Tooltip>
                        </div>
                        <card>
                            <i-Table stripe :loading="loading_web" no-filtered-data-text="暂无筛选结果,换一页试试"
                                     :columns="columns_web" :data="data_web"></i-Table>
                        </card>
                        <div style="float: right;padding-top: 15px;">
                            <Page :total="total_web" :current="page_web" @on-change="" show-elevator show-total></Page>
                        </div>
                    </div>
                </div>
                <div class="card-shadow res-content-div sencond-div-position path-hidden-half"
                    :style="{height: (arrowshow === true ? '150px' : cardhight)}">
                    <div style="font-size: 25px;font-weight: bold">学习路线图<span style="font-size: 15px;">(仅参考, 侵删)</span></div>
                    <div>
                        <Card style="padding: 20px;border: 1px solid #dcdee2;">
                            <Row type="flex" justify="center" align="bottom">
                                <img :src="'/images/' + name + '_path.jpg'"/>
                            </Row>
                        </Card>
                    </div>
                    <div class="path-pic-more" @click="arrowshow = !arrowshow">
                        <Icon type="ios-arrow-down" color="yellow" v-show="arrowshow"></Icon>
                        <Icon type="ios-arrow-up" color="yellow" v-show="!arrowshow"></Icon>
                        <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
                            <span>Show Code</span></button>
                    </div>
                </div>
            </i-col>
        </Row>
        <Back-Top :height="100">
            <div class="top"><Icon type="ios-arrow-up" /></div>
        </Back-Top>
    </template>
</div>
<script src="../static/js/vue.js" th:src="@{js/vue.js}"></script>
<script src="../static/js/iview.min.js" th:src="@{js/iview.min.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script type="module" src="../static/js/resource.js" th:src="@{js/resource.js}"></script>
</body>
</html>